.contacts,
.feedback {
	padding: 20px 0;
	border-bottom: 1px dotted $dark-color;
	p {
		margin:0;
	}
}

.map {
	position: relative;
	padding: 20px 0;
	img {
		display: block;
		max-width: 100%;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 50%;
		width: 100%;
		height: 82px;
		background-image: url('../img/shadow__map.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}