.head {
	height: 191px;
	position: relative;
	font-size: 50px;
	background-color: #aeaeae;
	background-image: url('../img/bg__index.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	box-sizing: border-box;
	z-index: -1;
	
	&::before {
		content: '';
		position: absolute;
		bottom: -26px;
		left: 50%;
		width: 715px;
		height: 82px;
		background-image: url('../img/shadow.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		font-size: 68px;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	&--big {
		padding: 0 70px;
		height: 275px;

		h1 {
			font-size: 68px;
		}
	}

	&--news {
		background-image: url('../img/bg__news.jpg');
	}

	&--services {
		background-image: url('../img/bg__services.jpg');
	}
	&--contacts {
		background-image: url('../img/bg__contact.jpg');
	}
}