.main-header {
	margin-bottom: 20px;
	padding: 0 66px 0 60px;
	z-index: 8;
	@include clearfix;

	&__logo {
		display: block;
		float: left;
		width: 208px;
		height: 80px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
}