.main-footer {
	padding: 11.5px 0;
	font-size: 12px;
	color: $light-color;
	font-weight: 400;
	text-align: center;
	background-color: $very-dark-color;
	border-top: 1px solid #8d8d8d;
	border-bottom: 1px solid #8d8d8d;
	box-sizing: border-box;
	
	&__copyright {
		margin: 0;
	}
}