.main-menu__wrapper {
    position: absolute;
    top: 10px;
    padding-top: 30px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;

    &--left {
    	left: 0;
    	.submenu {
    		&::before {
				left: 0;
				border-width: 13px 0 0 10px;
				border-color: transparent transparent transparent rgba(220, 0, 25, 0.8);
			}
    	}
		
	}

	&--right {
		right: 0;
		.submenu {
			&::before {
				right: 0;
				border-width: 0 0 13px 10px;
				border-color: transparent transparent rgba(220, 0, 25, 0.8) transparent;
			}
		}
	}
}


.submenu {
	position: relative;
	padding: 6px 0;
	width: 300px;
	min-height: 198px;
	background-color: rgba(220, 0, 25, 0.8);
	z-index: 10;
	box-sizing: border-box;
	
	&::before {
		content: '';
		position: absolute;
		top: -13px;
		width: 0;
		height: 0;
		border-style: solid;
	}

	

	&__item {
		padding: 6px 18px;
		display: block;
	}
	
	&__item {
		&:hover {
			.submenu__link {
				-webkit-transition: color 0.3s;
			    -moz-transition: color 0.3s;
			    transition: color 0.3s;

				span {
					border-bottom: 1px dotted $light-color;
				}
			}
			
		}
	}

	&__link {
		position: relative;
		display: block;
		line-height: 16px;
		color: $light-color;
		text-decoration: none;
		
		span {
			color: $light-color;
			border-bottom: 1px dotted transparent;
		    -webkit-transition: border-bottom 0.4s;
		    -moz-transition: border-bottom 0.4s;
		    transition: border-bottom 0.4s;
		}

		&--active {
			cursor: default;

			span {
				opacity: 1;
				-webkit-transform: translateY(0px);
				-moz-transform: translateY(0px);
				transform: translateY(0px);
			}
		}
	}
}