$light-color: #fff;
$dark-color: #666666;
$very-dark-color: #353535;
$main-color: #dc0019;

$roboto: 'Roboto', Geneva, Arial, Helvetica, sans-serif;
$roboto-light: 'Roboto Light', Geneva, Arial, Helvetica, sans-serif;
$roboto-thin: 'Roboto Thin', Geneva, Arial, Helvetica, sans-serif;